[submodule "Glados/vendor/imgui"]
	path = Glados/vendor/imgui
	url = https://github.com/msunde137/imgui
[submodule "Glados/vendor/GLFW"]
	path = Glados/vendor/GLFW
	url = https://github.com/msunde137/glfw
